{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List View</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}  
    <link rel="stylesheet" href="{% static 'style/contact_list.css' %}">
</head>
<body>

<div class="topnav">
    <a href="/" class="active">HOME</a>
    <a href="/create-contact">CREATE CONTACT</a>
</div>

<div class="card-container">
    {% for item in contact %}
    <div class="card">
        <div class="card-info">
            <h2>{{ item.name }}</h2>
            <p>Tax ID: {{item.tax_id}} </p>
            {% if item.email %}
            <p>Email: {{ item.email }}</p>
            {% endif %}
            {% if item.address %}
            <p>Address: {{ item.address }}</p>
            {% endif %}
            <div class="p-3 d-flex  align-item-center">
                <button type="button" class="btn btn-success">
                    <a href="{% url 'update_contact' item.id %}" style="text-decoration:none;color:white;">Update</a>
                </button>                
                <button type="button" class="btn btn-danger ms-5">
                    <a href="{% url 'delete_contact' item.id %}"
                    onclick="return confirm('Are you sure you want to delete this contact?');" style="text-decoration:none;color:white;">Delete
                    </a>
                </button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</body>
</html>
