{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'style/product_list.css' %}">
</head>
<body>

<div class="topnav">
    <a href="{% url 'home' %}">HOME</a>
    <a href="{% url 'create_product' %}">CREATE PRODUCT</a>
</div>

<div class="container">
    <h2>Product List</h2>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>${{ product.price }}</td>
                <td>
                    <a href="{% url 'update_product' product.id %}" class="btn btn-success">Edit</a>
                    <a href="{% url 'delete_product' product.id %}" class="btn btn-danger" onclick="return confirm('Are you sure?');">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>
